@model ActivityTracking.WebClient.Models.ManagerShowUsersViewModel
    @{
    ViewBag.Title = "ShowUsers";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    }

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center"><b>Department:</b> @Model.DepartmentName</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">User</th>
            </tr>
            @foreach (var userName in Model.UsersNames)
            {
                <tr>
                    <td class="text-left">@Html.ActionLink(userName, "ShowUserReport", new { userName })</td>               
                </tr>
            }
        </table>
    </div>
</div>
