@model IEnumerable<ActivityTracking.DomainModel.Group>

@{
    ViewBag.Title = "Setting";
}

<h2>@ViewBag.Title</h2>

<h2>Your group</h2>

@Html.DropDownList("groups", Model.Select(item => new SelectListItem
{
    Value = item.Id.ToString(),
    Text = item.Name.ToString(),
    Selected = "select" == item.Id.ToString()
}))
<p><input type="submit" value="Выбрать" /></p>