@*@model IEnumerable<ActivityTracking.DomainModel.Group>*@
@*@model ActivityTracking.DomainModel.Group*@
@{
    ViewBag.Title = "Setting";
}

<h2>@ViewBag.Title</h2>

<h2>Your group</h2>

    @*@{
        foreach (var reason in Model.Reasons)
        {
            <div >
            @Html.CheckBox(reason.Name,false,new { Value = reason.Id })
            @Html.Label(reason.Name);
            </div>

        }

    }*@

@*@Html.DropDownList("groups", Model.Select(item => new SelectListItem
{
    Value = item.Id.ToString(),
    Text = item.Name.ToString(),
    Selected = "select" == item.Id.ToString()
}))*@

@*@Html.DropDownList("groupslist");
<p><input type="submit" value="Выбрать" /></p>*@