<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IsdDataWebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="IsdDataWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://iepe100/isddata/IsdDataWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="IsdDataWebServiceSoap"
        contract="EPEServiceReference.IsdDataWebServiceSoap" name="IsdDataWebServiceSoap" />
      <endpoint address="http://iepe100/isddata/IsdDataWebService.asmx"
        binding="customBinding" bindingConfiguration="IsdDataWebServiceSoap12"
        contract="EPEServiceReference.IsdDataWebServiceSoap" name="IsdDataWebServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>